#loginContainer{
    background-color: #BDC3C7;
   margin-top: 10%;
   padding-top: 3%;
    width: 30%;
    text-align: center;
}
h1{
   padding-top: 5%;
    text-align:center;
    color:#873600 ;
}
/* Login Home*/
.container
{background-color: #BDC3C7;
    margin-top: 3%;
    text-align: center;
}
h3{
    color:#873600 ;
}